<ons-page ng-controller="ExperiencesCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center"><b>Work Experiences</b></div>
    </ons-toolbar>

    <div style="text-align: center">
        <!-- <ons-list class="plan-list"> -->
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item ng-repeat="experience in experiences">
            <ons-row>
              <ons-col width="18%">
                <div>{{experience['period']}}</div>
                <!-- <div class="plan-duration">1h</div> -->
              </ons-col>

              <ons-col width="6px" ng-style="{backgroundColor:'#5198db'}">
              </ons-col>

              <ons-col class="left-10">
                    <b>{{experience['position']}}</b><br/>
                    <div class="font-12">
                        <ons-icon icon="ion-ios-home"></ons-icon>  {{experience['company']}}<br/>
                        <ons-icon icon="fa-map-marker"></ons-icon>  {{experience['location']}}<br/>
                        <ons-icon icon="ion-briefcase"></ons-icon>  Main responsibilities:
                          <ul>
                            <li ng-repeat="responsibility in experience['responsibilities']">
                              {{responsibility}}
                            </li>
                          </ul>
                    </div>
                  
              </ons-col>
            </ons-row>
          </ons-list-item>

        </ons-list>
    </div>

</ons-page>