<ons-page ng-controller="InterestsCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center"><b>Interests & Hobbies</b></div>
    </ons-toolbar>

    <div class="text-center font-14">

        <ons-list modifier="inset" style="margin-top: 10px" ng-repeat="interest in interests">
            <ons-list-header>{{interest['type']}}</ons-list-header>
            <ons-list-item ng-repeat="content in interest['contents']" class="interests_row">
                <ul>
                    <li ng-class="getClass(interest)">{{content}}</li>
                </ul>
            </ons-list-item>
        </ons-list>
        
    </div>
</ons-page>