<ons-page ng-controller="LanguageCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center"><b>Language</b></div>
    </ons-toolbar>

    <div style="text-align: center">
            
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item ng-repeat="language in languages">
                <ons-row class="row">
                    <ons-col width="35%">
                        {{language['language']}}
                    </ons-col>
                    <ons-col>
                        {{language['level']}}
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>