@font-face {
  font-family: 'Product Sans';
}

* {
	font-family: 'Product Sans';
}

.disney {
	font-family: Disney;
}

.text-center {
  text-align: center
}

.row {
	padding: 10px 0 10px 0;
	line-height: 150%;
}

.ul {
  padding-left: 20px;
  line-height: 150%; 
  margin: 0;
}

.left-10 {
	padding-left: 10px;
}

.font-12 {
	font-size: 12px;
}

.font-14 {
	font-size: 14px;
}

.interests_row {
  margin: 0;
  padding: 1px 0 1px 0;
  line-height: 150%;
}

.email {
  font-size: 14px;
}

.quote {
  font-style: italic;
}